services:
  # change to official image when available https://github.com/radiantearth/stac-browser/pull/386
  stac-browser:
    # build: https://github.com/radiantearth/stac-browser.git
    # TODO: Rm when https://github.com/radiantearth/stac-browser/pull/461 is merged
    build:
      context: dockerfiles
      dockerfile: Dockerfile.browser
    ports:
      - "${MY_DOCKER_IP:-127.0.0.1}:8085:8085"
    env_file:
      - path: .env
        required: false
      - path: .stac-browser.env
        required: false
    depends_on:
      - stac
      - raster
      - database

  stac:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.stac
    ports:
      - "${MY_DOCKER_IP:-127.0.0.1}:8081:8081"
    environment:
      - PYTHONUNBUFFERED=1
      # Application
      - POSTGRES_USER=username
      - POSTGRES_PASS=password
      - POSTGRES_DBNAME=postgis
      - POSTGRES_HOST_READER=database
      - POSTGRES_HOST_WRITER=database
      - POSTGRES_PORT=5432
      - DB_MIN_CONN_SIZE=1
      - DB_MAX_CONN_SIZE=1
      # - TITILER_ENDPOINT=raster
      - TITILER_ENDPOINT=http://127.0.0.1:8082
      # Transtaction Extension
      # - ENABLE_TRANSACTION=TRUE
      # - CORS_METHODS='GET,POST,PUT,OPTIONS'
    env_file:
      - path: .env
        required: false
      - path: .stac.env
        required: false
    depends_on:
      - database
    command: bash -c "bash /tmp/scripts/wait-for-it.sh -t 120 -h database -p 5432 && uvicorn eoapi.stac.app:app --host 0.0.0.0 --port 8081 --workers 1"
    develop:
      watch:
        - action: sync+restart
          path: ./runtimes/eoapi/stac/eoapi
          target: /opt/bitnami/python/lib/python3.11/site-packages/eoapi
        - action: rebuild
          path: ./runtimes/eoapi/stac
    volumes:
      - ./dockerfiles/scripts:/tmp/scripts

  raster:
    # At the time of writing, rasterio wheels are not available for arm64 arch
    # so we force the image to be built with linux/amd64
    platform: linux/amd64
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.raster
    ports:
      - "${MY_DOCKER_IP:-127.0.0.1}:8082:8082"
    environment:
      - PYTHONUNBUFFERED=1
      # Application
      - POSTGRES_USER=username
      - POSTGRES_PASS=password
      - POSTGRES_DBNAME=postgis
      - POSTGRES_HOST=database
      - POSTGRES_PORT=5432
      - DB_MIN_CONN_SIZE=1
      - DB_MAX_CONN_SIZE=10
      - CPL_TMPDIR=/tmp
      - GDAL_CACHEMAX=75%
      - GDAL_INGESTED_BYTES_AT_OPEN=32768
      - GDAL_DISABLE_READDIR_ON_OPEN=EMPTY_DIR
      - GDAL_HTTP_MERGE_CONSECUTIVE_RANGES=YES
      - GDAL_HTTP_MULTIPLEX=YES
      - GDAL_HTTP_VERSION=2
      - VSI_CACHE=TRUE
      - VSI_CACHE_SIZE=536870912
      - MOSAIC_CONCURRENCY=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    env_file:
      - path: .env
        required: false
      - path: .raster.env
        required: false
    depends_on:
      - database
    command: bash -c "bash /tmp/scripts/wait-for-it.sh -t 120 -h database -p 5432 && uvicorn eoapi.raster.app:app --host 0.0.0.0 --port 8082 --workers 10"
    develop:
      watch:
        - action: sync+restart
          path: ./runtimes/eoapi/raster/eoapi
          target: /opt/bitnami/python/lib/python3.11/site-packages/eoapi
        - action: rebuild
          path: ./runtimes/eoapi/raster
    volumes:
      - ./dockerfiles/scripts:/tmp/scripts

  vector:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.vector
    ports:
      - "${MY_DOCKER_IP:-127.0.0.1}:8083:8083"
    environment:
      - PYTHONUNBUFFERED=1
      # Application
      - POSTGRES_USER=username
      - POSTGRES_PASS=password
      - POSTGRES_DBNAME=postgis
      - POSTGRES_HOST=database
      - POSTGRES_PORT=5432
      - DB_MIN_CONN_SIZE=1
      - DB_MAX_CONN_SIZE=10
      - DEBUG=TRUE
    env_file:
      - path: .env
        required: false
      - path: .vector.env
        required: false
    command: bash -c "bash /tmp/scripts/wait-for-it.sh -t 120 -h database -p 5432 && uvicorn eoapi.vector.app:app --host 0.0.0.0 --port 8083 --workers 10"
    develop:
      watch:
        - action: sync+restart
          path: ./runtimes/eoapi/vector/eoapi
          target: /opt/bitnami/python/lib/python3.11/site-packages/eoapi
        - action: rebuild
          path: ./runtimes/eoapi/vector
    depends_on:
      - database
    volumes:
      - ./dockerfiles/scripts:/tmp/scripts

  database:
    image: ghcr.io/stac-utils/pgstac:v0.9.3
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgis
      - PGUSER=username
      - PGPASSWORD=password
      - PGDATABASE=postgis
    ports:
      - "${MY_DOCKER_IP:-127.0.0.1}:5439:5432"
    command: postgres -N 500
    volumes:
      - ./.pgdata:/var/lib/postgresql/data

networks:
  default:
    name: eoapi-network
