{% extends "base.html" %}

{% set show_prev_link = false %}
{% set show_next_link = false %}
{% if params %}
  {% set urlq = url + '?' + params + '&' %}
  {% else %}
  {% set urlq = url + '?' %}
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    {% for crumb in crumbs %}
      {% if not loop.last %}
      <li class="breadcrumb-item"><a href="{{ crumb.url }}/">{{ crumb.part }}</a></li>
      {% else %}
      <li class="breadcrumb-item active" aria-current="page">{{ crumb.part }}</li>
      {% endif %}
    {% endfor %}

    <li class="ml-auto json-link"><a target="_blank" href="{{ urlq }}f=geojson">GeoJSON</a></li>
  </ol>
</nav>

<h1 class="my-4">
  <span class="d-block text-uppercase text-muted h6 mb-0">Collection Items:</span>
  {{ response.title or response.id }}
</h1>
{% if response.features|length > 0 %}
<div class="d-flex flex-row align-items-center mb-4">
  <div class="flex-grow-1">
    Showing {{ response.numberReturned }} of {{ response.numberMatched }} items
  </div>
  <div class="form-inline ml-auto" style="gap: 10px">
    <div class="d-flex">
      <label for="limit">Page size: </label>
      <select class="form-control form-control-sm ml-1" id="limit" aria-label="Select page size"> <!-- TODO: dynamically populate the values based on oga_max_limit -->
        <option value="10" {% if template.params.get("limit", 10)|int == 10 %}selected{% endif %}>10</option>
        <option value="25" {% if template.params.get("limit", 10)|int == 25 %}selected{% endif %}>25</option>
        <option value="50" {% if template.params.get("limit", 10)|int == 50 %}selected{% endif %}>50</option>
        <option value="100" {% if template.params.get("limit", 10)|int == 100 %}selected{% endif %}>100</option>
      </select>
    </div>
    {% if response.links|length > 0 %}
    <div class="btn-group btn-group-sm" role="group" aria-label="Paginate">
      {% for link in response.links %}
      {% if link.rel == 'prev' or link.rel == 'previous' %}
        <a class="btn btn-secondary" title="previous page" href="{{ link.href }}">« prev</a>
      {% endif %}
      {% endfor %}
      {% for link in response.links %}
      {% if link.rel == 'next' %}
        <a class="btn btn-secondary" title="next page" href="{{ link.href }}">next »</a>
      {% endif %}
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>

<div id="map" class="rounded mb-2" style="width:100%; height:400px;">Loading...</div>

<div class="table-responsive">
  {% if response.features and response.features|length > 0 %}
  <table class="table">
    <thead class="thead-light">
      <th>ID</th>
      {% for key, value in response.features.0.properties.items() %}
      <th style="font-size: 13px">{{ key }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for feature in response.features %}
      <tr style="font-size: 11px">
        <td><a target="_blank" href="{{ template.api_root }}/collections/{{ feature.collection }}/items/{{ feature.id }}">{{ feature.id }}</a></td>
        {% for key, value in feature.properties.items() %}
        <td style="overflow: hidden; text-overflow: ellipsis; max-width: 200px; white-space: nowrap;">{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% else %}
<div class="text-center mx-auto py-5 w-50">
  <p class="h4 mb-3">No items found</p>
  <p>You need to add STAC Collections and Items; for example by following the <a href="https://github.com/vincentsarago/MAXAR_opendata_to_pgstac">MAXAR open data demo</a> or <a href="https://github.com/developmentseed/eoAPI/tree/main/demo">other demos.</a></p>
</div>
{% endif %}

<script>
  window.addEventListener("load", function () {
    // Pagination
    document.getElementById("limit").addEventListener("change", (event) => {
      // Set new page size
      const limit = event.target.value;
      let url = "{{ template.api_root }}/collections/{{ response.id }}/items?";
      const searchParams = new URLSearchParams(window.location.search);
      searchParams.set('limit', limit);
      url += searchParams.toString();
      window.location.href = url;
    });

    // Mapping
    const geojson = {{ response|tojson }};

    const hasGeom = geojson.features && geojson.features.some(feat => feat.geometry);
    if (hasGeom) {
      const map = L.map('map').setView([0, 0], 1);
      map.addLayer(new L.TileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }
      ));

      function addPopup(feature, layer) {
        const aElm = document.createElement('a');
        aElm.setAttribute('href', `{{ template.api_root }}/collections/${feature.collection}/items/${feature.id}`);
        aElm.setAttribute('target', '_blank');
        aElm.innerText = feature.id;
        layer.bindPopup(aElm);
      }

      const features = L.geoJSON(geojson, {
        onEachFeature: addPopup,
        weight: 2
      }).addTo(map);

      map.fitBounds(features.getBounds());
    } else {
      document.getElementById("map").style.display = "none";
    }
  });
</script>
{% endblock %}
