{% extends "base.html" %}

{% if params %}
  {% set urlq = url + '?' + params + '&' %}
  {% else %}
  {% set urlq = url + '?' %}
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    {% for crumb in crumbs %}
      {% if not loop.last %}
    <li class="breadcrumb-item"><a href="{{ crumb.url }}/">{{ crumb.part }}</a></li>
      {% else %}<li class="breadcrumb-item active" aria-current="page">{{ crumb.part }}</li>
      {% endif %}
    {% endfor %}

    <li class="ml-auto json-link"><a target="_blank" href="{{ urlq }}f=geojson">GeoJSON</a></li>
  </ol>
</nav>

<h1 class="my-4">
  <span class="d-block text-uppercase text-muted h6 mb-0">Collection Item:</span>
  {{ response.id }}
</h1>

<div class="row">
  <div class="col-md-7">
    <h2>Properties</h2>
    <ul class="list-unstyled">
      <li class="row small mb-1">
        <div class="col-3 font-weight-bold">ID</div>
        <div class="col-9">
          <pre class="mb-0">{{ response.id }}</pre>
        </div>
      </li>
      {% for key, value in response.properties | dictsort %}
      <li class="row small mb-1">
        <div class="col-3 font-weight-bold">{{ key }}</div>
        <div class="col-9">
          <pre class="mb-0">{{ value | tojson(2) | trim('"') }}</pre>
        </div>
      </li>
      {% endfor %}
    </ul>

    <h2 class="mt-5">Assets</h2>
    <ul class="list-unstyled">
      {% for key, asset in response.assets.items() %}
      <li class="mb-4">
        <p class="mb-0 font-weight-bold ">
          <span class="text-muted text-monospace">{{ key }}</span>
          {% if asset.title and not key == asset.title %} &bull; {{ asset.title }}{% endif %}
        </p>
        {% if asset.type %}<p class="mb-0">{{ asset.type }}</p>{% endif %}
        {% if asset.description %}<p class="mb-0">{{ asset.description }}</p>{% endif %}
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{{ asset.href }}">Asset link</a></li>
          {% if asset.alternate %}
          {% for alternate_key, alternate_link in asset.alternate.items() %}
          <li class="list-inline-item"><a href="{{ alternate_link.href }}">{{ alternate_link.title or alternate_key }}</a></li>
          {% endfor %}
          {% endif %}
        </ul>
        {% if asset.roles and asset.roles|length > 0 %}
        <ul class="list-inline">
          {% for role in asset.roles %}
          <li class="list-inline-item badge badge-light">{{ role }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <details class="mt-2">
          <summary>Asset Properties</summary>
          {% for asset_key, asset_opt in asset | dictsort if asset_key not in ["title", "type", "description", "href", "roles", "alternate"] %}
          <div class="row mb-1 small">
            <div class="col-3 font-weight-bold">{{ asset_key }}</div>
            <div class="col-9">
              <pre class="mb-0">{{ asset_opt | tojson(2) }}</pre>
            </div>
          </div>
          {% else %}
          No additional properties for this asset.
          {% endfor %}
        </details>
      </li>
      {% endfor %}
    </ul>

    <h2 class="mt-5">Links</h2>
    <ul>
      {% for link in response.links %}
      <li><a href="{{ link.href }}">{{ link.title or link.rel }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-5">
    <div id="map" class="rounded" style="width:100%; height:calc(-6rem + 100vh); position: sticky; top: 5rem;">Loading...</div>
  </div>
</div>

<script>
  var geojson = {{ response|tojson }};
  if (geojson.geometry) {
    var map = L.map('map').setView([0, 0], 1);
    map.addLayer(new L.TileLayer(
      'https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }
    ));

    function displayValue(value) {
      switch (typeof value) {
        case 'string':
          return value;
        case 'number':
          return value.toString();
        case 'object':
          if (value instanceof Array) {
            return value.map(displayValue).join(', ');
          } else {
            return JSON.stringify(value);
          }
        default:
          return '';
      }
    }

    function addPopup(feature, layer) {
      if (feature.properties) {
        var popupElm = document.createElement('div');
        popupElm.style.overflowX = 'scroll';

        Object.keys(geojson.properties).map(prop => {
          var propElm = document.createElement('div');

          var bElm = document.createElement('b');
          bElm.innerText = prop;
          propElm.appendChild(bElm);
          var valueElm = document.createTextNode(` : ${displayValue(feature.properties[prop])}`);
          propElm.appendChild(valueElm);

          var brElm = document.createElement('br');
          propElm.appendChild(brElm);

          popupElm.appendChild(propElm);
        })

        layer.bindPopup(popupElm);
      }
    }

    var features = L.geoJSON(geojson, {
      onEachFeature: addPopup
    }).addTo(map);

    map.fitBounds(features.getBounds());
  } else {
    document.getElementById("map").style.display = "none";
  }

</script>
{% endblock %}
